<div class="container">
  <div class="row">
    <h2>Gif Search</h2>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search GIF" [(ngModel)]="searchEntry" id="gifSearch">
      <button type="submit" class="btn btn-primary" (click)="searchGif(searchEntry)">Search</button>
    </div>
    <div class="row">
      <div *ngFor="let gif of gifsList" key="gif.id" class="m-2">
        <img src="{{gif.images.original.url}}" />
      </div>
    </div>
  </div>
</div>
